<section>
  <div ui-view>
    <h1>Basics</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <h3>Left Hand Basics</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th>Shifting</th>
            <td><input type="number" ng-model="day1.positions.shifting"/></td>
            <td><input type="number" ng-model="day2.positions.shifting"/></td>
            <td><input type="number" ng-model="day3.positions.shifting"/></td>
            <td><input type="number" ng-model="day4.positions.shifting"/></td>
            <td><input type="number" ng-model="day5.positions.shifting"/></td>
            <td><input type="number" ng-model="day6.positions.shifting"/></td>
            <td><input type="number" ng-model="day7.positions.shifting"/></td>
          </tr>
        </tr>
        <tr>
          <th>Finger Dropping & lifting</th>
          <td><input type="number" ng-model="day1.positions.dropping"/></td>
          <td><input type="number" ng-model="day2.positions.dropping"/></td>
          <td><input type="number" ng-model="day3.positions.dropping"/></td>
          <td><input type="number" ng-model="day4.positions.dropping"/></td>
          <td><input type="number" ng-model="day5.positions.dropping"/></td>
          <td><input type="number" ng-model="day6.positions.dropping"/></td>
          <td><input type="number" ng-model="day7.positions.dropping"/></td>
        </tr>
        <tr>
          <th>Vibrato</th>
          <td><input type="number" ng-model="day1.positions.vibrato"/></td>
          <td><input type="number" ng-model="day2.positions.vibrato"/></td>
          <td><input type="number" ng-model="day3.positions.vibrato"/></td>
          <td><input type="number" ng-model="day4.positions.vibrato"/></td>
          <td><input type="number" ng-model="day5.positions.vibrato"/></td>
          <td><input type="number" ng-model="day6.positions.vibrato"/></td>
          <td><input type="number" ng-model="day7.positions.vibrato"/></td>
        </tr>
        <tr>
          <th>Pizzicato Left Hand</th>
          <td><input type="number" ng-model="day1.positions.pizzicato"/></td>
          <td><input type="number" ng-model="day2.positions.pizzicato"/></td>
          <td><input type="number" ng-model="day3.positions.pizzicato"/></td>
          <td><input type="number" ng-model="day4.positions.pizzicato"/></td>
          <td><input type="number" ng-model="day5.positions.pizzicato"/></td>
          <td><input type="number" ng-model="day6.positions.pizzicato"/></td>
          <td><input type="number" ng-model="day7.positions.pizzicato"/></td>
        </tr>
        <tr>
          <th>Total</th>
          <td>
            <p>{{day1.lhTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day2.lhTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day3.lhTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day4.lhTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day5.lhTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day6.lhTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day7.lhTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
        </tr>
      </table>
      <table class="table table-bordered">
        <h3>Right Hand Basics</h3>
        <tr>
          <th>Day</th>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <th>Bow Balance</th>
          <td><input type="number" ng-model="day1.positions.balance"/></td>
          <td><input type="number" ng-model="day2.positions.balance"/></td>
          <td><input type="number" ng-model="day3.positions.balance"/></td>
          <td><input type="number" ng-model="day4.positions.balance"/></td>
          <td><input type="number" ng-model="day5.positions.balance"/></td>
          <td><input type="number" ng-model="day6.positions.balance"/></td>
          <td><input type="number" ng-model="day7.positions.balance"/></td>
        </tr>
      </tr>
      <tr>
        <th>Pressure, Speed, S. Point</th>
        <td><input type="number" ng-model="day1.positions.ppsp"/></td>
        <td><input type="number" ng-model="day2.positions.ppsp"/></td>
        <td><input type="number" ng-model="day3.positions.ppsp"/></td>
        <td><input type="number" ng-model="day4.positions.ppsp"/></td>
        <td><input type="number" ng-model="day5.positions.ppsp"/></td>
        <td><input type="number" ng-model="day6.positions.ppsp"/></td>
        <td><input type="number" ng-model="day7.positions.ppsp"/></td>
      </tr>
      <tr>
        <th>Bow Changes</th>
        <td><input type="number" ng-model="day1.positions.changes"/></td>
        <td><input type="number" ng-model="day2.positions.changes"/></td>
        <td><input type="number" ng-model="day3.positions.changes"/></td>
        <td><input type="number" ng-model="day4.positions.changes"/></td>
        <td><input type="number" ng-model="day5.positions.changes"/></td>
        <td><input type="number" ng-model="day6.positions.changes"/></td>
        <td><input type="number" ng-model="day7.positions.changes"/></td>
      </tr>
      <tr>
        <th>Detaché</th>
        <td><input type="number" ng-model="day1.positions.detache"/></td>
        <td><input type="number" ng-model="day2.positions.detache"/></td>
        <td><input type="number" ng-model="day3.positions.detache"/></td>
        <td><input type="number" ng-model="day4.positions.detache"/></td>
        <td><input type="number" ng-model="day5.positions.detache"/></td>
        <td><input type="number" ng-model="day6.positions.detache"/></td>
        <td><input type="number" ng-model="day7.positions.detache"/></td>
      </tr>
      <tr>
        <th>Legato</th>
        <td><input type="number" ng-model="day1.positions.legato"/></td>
        <td><input type="number" ng-model="day2.positions.legato"/></td>
        <td><input type="number" ng-model="day3.positions.legato"/></td>
        <td><input type="number" ng-model="day4.positions.legato"/></td>
        <td><input type="number" ng-model="day5.positions.legato"/></td>
        <td><input type="number" ng-model="day6.positions.legato"/></td>
        <td><input type="number" ng-model="day7.positions.legato"/></td>
      </tr>
      <tr>
        <th>Collé</th>
        <td><input type="number" ng-model="day1.positions.colle"/></td>
        <td><input type="number" ng-model="day2.positions.colle"/></td>
        <td><input type="number" ng-model="day3.positions.colle"/></td>
        <td><input type="number" ng-model="day4.positions.colle"/></td>
        <td><input type="number" ng-model="day5.positions.colle"/></td>
        <td><input type="number" ng-model="day6.positions.colle"/></td>
        <td><input type="number" ng-model="day7.positions.colle"/></td>
      </tr>
      <tr>
        <th>Martelé</th>
        <td><input type="number" ng-model="day1.positions.martele"/></td>
        <td><input type="number" ng-model="day2.positions.martele"/></td>
        <td><input type="number" ng-model="day3.positions.martele"/></td>
        <td><input type="number" ng-model="day4.positions.martele"/></td>
        <td><input type="number" ng-model="day5.positions.martele"/></td>
        <td><input type="number" ng-model="day6.positions.martele"/></td>
        <td><input type="number" ng-model="day7.positions.martele"/></td>
      </tr>
      <tr>
        <th>Staccato</th>
        <td><input type="number" ng-model="day1.positions.staccato"/></td>
        <td><input type="number" ng-model="day2.positions.staccato"/></td>
        <td><input type="number" ng-model="day3.positions.staccato"/></td>
        <td><input type="number" ng-model="day4.positions.staccato"/></td>
        <td><input type="number" ng-model="day5.positions.staccato"/></td>
        <td><input type="number" ng-model="day6.positions.staccato"/></td>
        <td><input type="number" ng-model="day7.positions.staccato"/></td>
      </tr>
      <tr>
        <th>Spiccato</th>
        <td><input type="number" ng-model="day1.positions.spiccato"/></td>
        <td><input type="number" ng-model="day2.positions.spiccato"/></td>
        <td><input type="number" ng-model="day3.positions.spiccato"/></td>
        <td><input type="number" ng-model="day4.positions.spiccato"/></td>
        <td><input type="number" ng-model="day5.positions.spiccato"/></td>
        <td><input type="number" ng-model="day6.positions.spiccato"/></td>
        <td><input type="number" ng-model="day7.positions.spiccato"/></td>
      </tr>
      <tr>
        <th>Sautillé</th>
        <td><input type="number" ng-model="day1.positions.sautille"/></td>
        <td><input type="number" ng-model="day2.positions.sautille"/></td>
        <td><input type="number" ng-model="day3.positions.sautille"/></td>
        <td><input type="number" ng-model="day4.positions.sautille"/></td>
        <td><input type="number" ng-model="day5.positions.sautille"/></td>
        <td><input type="number" ng-model="day6.positions.sautille"/></td>
        <td><input type="number" ng-model="day7.positions.sautille"/></td>
      </tr>
      <tr>
        <th>Ricochet</th>
        <td><input type="number" ng-model="day1.positions.ricochet"/></td>
        <td><input type="number" ng-model="day2.positions.ricochet"/></td>
        <td><input type="number" ng-model="day3.positions.ricochet"/></td>
        <td><input type="number" ng-model="day4.positions.ricochet"/></td>
        <td><input type="number" ng-model="day5.positions.ricochet"/></td>
        <td><input type="number" ng-model="day6.positions.ricochet"/></td>
        <td><input type="number" ng-model="day7.positions.ricochet"/></td>
      </tr>
      <tr>
        <th>3 Voice Chords</th>
        <td><input type="number" ng-model="day1.positions.chords3"/></td>
        <td><input type="number" ng-model="day2.positions.chords3"/></td>
        <td><input type="number" ng-model="day3.positions.chords3"/></td>
        <td><input type="number" ng-model="day4.positions.chords3"/></td>
        <td><input type="number" ng-model="day5.positions.chords3"/></td>
        <td><input type="number" ng-model="day6.positions.chords3"/></td>
        <td><input type="number" ng-model="day7.positions.chords3"/></td>
      </tr>
      <tr>
        <th>4 Voice Chords</th>
        <td><input type="number" ng-model="day1.positions.chords4"/></td>
        <td><input type="number" ng-model="day2.positions.chords4"/></td>
        <td><input type="number" ng-model="day3.positions.chords4"/></td>
        <td><input type="number" ng-model="day4.positions.chords4"/></td>
        <td><input type="number" ng-model="day5.positions.chords4"/></td>
        <td><input type="number" ng-model="day6.positions.chords4"/></td>
        <td><input type="number" ng-model="day7.positions.chords4"/></td>
      </tr>
      <tr>
        <th>Total</th>
        <td>
          <p>{{day1.rhTotal() | time:'mm':'hhh mmm':false}}</p>
        </td>
        <td>
          <p>{{day2.rhTotal() | time:'mm':'hhh mmm':false}}</p>
        </td>
        <td>
          <p>{{day3.rhTotal() | time:'mm':'hhh mmm':false}}</p>
        </td>
        <td>
          <p>{{day4.rhTotal() | time:'mm':'hhh mmm':false}}</p>
        </td>
        <td>
          <p>{{day5.rhTotal() | time:'mm':'hhh mmm':false}}</p>
        </td>
        <td>
          <p>{{day6.rhTotal() | time:'mm':'hhh mmm':false}}</p>
        </td>
        <td>
          <p>{{day7.rhTotal() | time:'mm':'hhh mmm':false}}</p>
        </td>
      </tr>
    </table>
  </div>
</div>
</section>
