<section>
  <div ui-view>
    <h1>Weekly Schedule</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered table-reflow">
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th>Basics</th>
            <td>{{day1.basics}}</td>
            <td>{{day2.basics}}</td>
            <td>{{day3.basics}}</td>
            <td>{{day4.basics}}</td>
            <td>{{day5.basics}}</td>
            <td>{{day6.basics}}</td>
            <td>{{day7.basics}}</td>
          </tr>
        </tr>
        <tr>
          <th>Scales</th>
          <td>{{day1.scales}}</td>
          <td>{{day2.scales}}</td>
          <td>{{day3.scales}}</td>
          <td>{{day4.scales}}</td>
          <td>{{day5.scales}}</td>
          <td>{{day6.scales}}</td>
          <td>{{day7.scales}}</td>
        </tr>
        <tr>
          <th>Etudes:</th>
        </tr>
        <tr>
          <th><input type="text" /></th>
          <td><input type="value" ng-model="day1.etude1"/></td>
          <td><input type="value" ng-model="day2.etude1"/></td>
          <td><input type="value" ng-model="day3.etude1"/></td>
          <td><input type="value" ng-model="day4.etude1"/></td>
          <td><input type="value" ng-model="day5.etude1"/></td>
          <td><input type="value" ng-model="day6.etude1"/></td>
          <td><input type="value" ng-model="day7.etude1"/></td>
        </tr>
        <tr>
          <th><input type="text" /></th>
          <td><input type="value" ng-model="day1.etude2"/></td>
          <td><input type="value" ng-model="day2.etude2"/></td>
          <td><input type="value" ng-model="day3.etude2"/></td>
          <td><input type="value" ng-model="day4.etude2"/></td>
          <td><input type="value" ng-model="day5.etude2"/></td>
          <td><input type="value" ng-model="day6.etude2"/></td>
          <td><input type="value" ng-model="day7.etude2"/></td>
        </tr>
        <tr>
          <th>Pieces:</th>
        </tr>
        <tr>
          <th><input type="text" /></th>
          <td><input type="value" ng-model="day1.piece1"/></td>
          <td><input type="value" ng-model="day2.piece1"/></td>
          <td><input type="value" ng-model="day3.piece1"/></td>
          <td><input type="value" ng-model="day4.piece1"/></td>
          <td><input type="value" ng-model="day5.piece1"/></td>
          <td><input type="value" ng-model="day6.piece1"/></td>
          <td><input type="value" ng-model="day7.piece1"/></td>
        </tr>
        <tr>
          <th><input type="text" /></th>
          <td><input type="value" ng-model="day1.piece2"/></td>
          <td><input type="value" ng-model="day2.piece2"/></td>
          <td><input type="value" ng-model="day3.piece2"/></td>
          <td><input type="value" ng-model="day4.piece2"/></td>
          <td><input type="value" ng-model="day5.piece2"/></td>
          <td><input type="value" ng-model="day6.piece2"/></td>
          <td><input type="value" ng-model="day7.piece2"/></td>
        </tr>
        <tr>
          <th>Total</th>
          <td><p>{{day1.total}}</p></td>
          <td><p>{{day2.total}}</p></td>
          <td><p>{{day3.total}}</p></td>
          <td><p>{{day4.total}}</p></td>
          <td><p>{{day5.total}}</p></td>
          <td><p>{{day6.total}}</p></td>
          <td><p>{{day7.total}}</p></td>
        </tr>
      </table>
      <div>
        <h3>Week total practiced time</h3>
        <p>{{week.total}}</p>
      </div>
    </div>
  </div>
</section>
