<section>
  <div ui-view>
    <h1>Weekly Schedule</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered table-reflow">
          <thead>
            <tr>
              <th>Day</th>
              <th>Basics</th>
              <th>Scales</th>
              <th>Etudes</th>
              <th>Main piece</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><input type="value" ng-model="week1.basics"/></td>
              <td><input type="value" ng-model="week1.scales"/></td>
              <td><input type="value" ng-model="week1.etudes"/></td>
              <td><input type="value" ng-model="week1.piece"/></td>
            </tr>
            <tr>
              <td>2</td>
              <td><input type="value" ng-model="week2.basics"/></td>
              <td><input type="value" ng-model="week2.scales"/></td>
              <td><input type="value" ng-model="week2.etudes"/></td>
              <td><input type="value" ng-model="week2.piece"/></td>
            </tr>
            <tr>
              <td>3</td>
              <td><input type="value" ng-model="week3.basics"/></td>
              <td><input type="value" ng-model="week3.scales"/></td>
              <td><input type="value" ng-model="week3.etudes"/></td>
              <td><input type="value" ng-model="week3.piece"/></td>
            </tr>
            <tr>
              <td>4</td>
              <td><input type="value" ng-model="week4.basics"/></td>
              <td><input type="value" ng-model="week4.scales"/></td>
              <td><input type="value" ng-model="week4.etudes"/></td>
              <td><input type="value" ng-model="week4.piece"/></td>
            </tr>
            <tr>
              <td>5</td>
              <td><input type="value" ng-model="week5.basics"/></td>
              <td><input type="value" ng-model="week5.scales"/></td>
              <td><input type="value" ng-model="week5.etudes"/></td>
              <td><input type="value" ng-model="week5.piece"/></td>
            </tr>
            <tr>
              <td>6</td>
              <td><input type="value" ng-model="week6.basics"/></td>
              <td><input type="value" ng-model="week6.scales"/></td>
              <td><input type="value" ng-model="week6.etudes"/></td>
              <td><input type="value" ng-model="week6.piece"/></td>
            </tr>
            <tr>
              <td>7</td>
              <td><input type="value" ng-model="week7.basics"/></td>
              <td><input type="value" ng-model="week7.scales"/></td>
              <td><input type="value" ng-model="week7.etudes"/></td>
              <td><input type="value" ng-model="week7.piece"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
