<section>
  <div ui-view>
    <h1>Weekly Schedule</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered table-reflow">
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th>Basics</th>
            <td>{{day1.basics}}</td>
            <td>{{day2.basics}}</td>
            <td>{{day3.basics}}</td>
            <td>{{day4.basics}}</td>
            <td>{{day5.basics}}</td>
            <td>{{day6.basics}}</td>
            <td>{{day7.basics}}</td>
          </tr>
        </tr>
        <tr>
          <th>Scales</th>
          <td>{{day1.scales}}</td>
          <td>{{day2.scales}}</td>
          <td>{{day3.scales}}</td>
          <td>{{day4.scales}}</td>
          <td>{{day5.scales}}</td>
          <td>{{day6.scales}}</td>
          <td>{{day7.scales}}</td>
        </tr>
        <tr>
          <th>Etudes</th>
          <td>{{day1.etudes}}</td>
          <td>{{day2.etudes}}</td>
          <td>{{day3.etudes}}</td>
          <td>{{day4.etudes}}</td>
          <td>{{day5.etudes}}</td>
          <td>{{day6.etudes}}</td>
          <td>{{day7.etudes}}</td>
        </tr>
        <tr>
          <th>Piece</th>
          <td>{{day1.piece}}</td>
          <td>{{day2.basics}}</td>
          <td>{{day3.basics}}</td>
          <td>{{day4.basics}}</td>
          <td>{{day5.basics}}</td>
          <td>{{day6.basics}}</td>
          <td>{{day7.basics}}</td>
        </tr>
        <tr>
          <th>Total</th>
          <td><p>{{day1.total}}</p></td>
          <td><p>{{day2.total}}</p></td>
          <td><p>{{day3.total}}</p></td>
          <td><p>{{day4.total}}</p></td>
          <td><p>{{day5.total}}</p></td>
          <td><p>{{day6.total}}</p></td>
          <td><p>{{day7.total}}</p></td>
        </tr>
      </table>
      <div>
        <h3>Week total practiced time</h3>
        <p>{{week.total}}</p>
      </div>
    </div>
  </div>
</section>
