<section>
  <div ui-view>
    <h1>Basics</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <h3>Scales</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th>Scale 1:</th>
          </tr>
          <tr>
            <th><input type="text" ng-model="scale1"/></th>
            <td><input type="number" ng-model="day1.positions.scale1"/></td>
            <td><input type="number" ng-model="day2.positions.scale1"/></td>
            <td><input type="number" ng-model="day3.positions.scale1"/></td>
            <td><input type="number" ng-model="day4.positions.scale1"/></td>
            <td><input type="number" ng-model="day5.positions.scale1"/></td>
            <td><input type="number" ng-model="day6.positions.scale1"/></td>
            <td><input type="number" ng-model="day7.positions.scale1"/></td>
          </tr>
          <tr>
            <th>Scale 2:</th>
          </tr>
          <tr>
            <th><input type="text" ng-model="scale2"/></th>
            <td><input type="number" ng-model="day1.positions.scale2"/></td>
            <td><input type="number" ng-model="day2.positions.scale2"/></td>
            <td><input type="number" ng-model="day3.positions.scale2"/></td>
            <td><input type="number" ng-model="day4.positions.scale2"/></td>
            <td><input type="number" ng-model="day5.positions.scale2"/></td>
            <td><input type="number" ng-model="day6.positions.scale2"/></td>
            <td><input type="number" ng-model="day7.positions.scale2"/></td>
          </tr>
          <tr>
            <th>Scale 3:</th>
          </tr>
          <tr>
            <th><input type="text" ng-model="scale3"/></th>
            <td><input type="number" ng-model="day1.positions.scale3"/></td>
            <td><input type="number" ng-model="day2.positions.scale3"/></td>
            <td><input type="number" ng-model="day3.positions.scale3"/></td>
            <td><input type="number" ng-model="day4.positions.scale3"/></td>
            <td><input type="number" ng-model="day5.positions.scale3"/></td>
            <td><input type="number" ng-model="day6.positions.scale3"/></td>
            <td><input type="number" ng-model="day7.positions.scale3"/></td>
          </tr>
          <tr>
            <th>Total</th>
            <td>
              <p>{{day1.scaleTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day2.scaleTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day3.scaleTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day4.scaleTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day5.scaleTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day6.scaleTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day7.scaleTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
          </tr>
        </table>
        <table class="table table-bordered">
          <h3>Arpeggios</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th><input type="text" ng-model="arpeggio1"/></th>
            <td><input type="number" ng-model="day1.positions.arpeggio1"/></td>
            <td><input type="number" ng-model="day2.positions.arpeggio1"/></td>
            <td><input type="number" ng-model="day3.positions.arpeggio1"/></td>
            <td><input type="number" ng-model="day4.positions.arpeggio1"/></td>
            <td><input type="number" ng-model="day5.positions.arpeggio1"/></td>
            <td><input type="number" ng-model="day6.positions.arpeggio1"/></td>
            <td><input type="number" ng-model="day7.positions.arpeggio1"/></td>
          </tr>
          <tr>
            <th><input type="text" ng-model="arpeggio2"/></th>
            <td><input type="number" ng-model="day1.positions.arpeggio2"/></td>
            <td><input type="number" ng-model="day2.positions.arpeggio2"/></td>
            <td><input type="number" ng-model="day3.positions.arpeggio2"/></td>
            <td><input type="number" ng-model="day4.positions.arpeggio2"/></td>
            <td><input type="number" ng-model="day5.positions.arpeggio2"/></td>
            <td><input type="number" ng-model="day6.positions.arpeggio2"/></td>
            <td><input type="number" ng-model="day7.positions.arpeggio2"/></td>
          </tr>
          <tr>
            <th><input type="text" ng-model="arpeggio3"/></th>
            <td><input type="number" ng-model="day1.positions.arpeggio3"/></td>
            <td><input type="number" ng-model="day2.positions.arpeggio3"/></td>
            <td><input type="number" ng-model="day3.positions.arpeggio3"/></td>
            <td><input type="number" ng-model="day4.positions.arpeggio3"/></td>
            <td><input type="number" ng-model="day5.positions.arpeggio3"/></td>
            <td><input type="number" ng-model="day6.positions.arpeggio3"/></td>
            <td><input type="number" ng-model="day7.positions.arpeggio3"/></td>
          </tr>
          <tr>
            <th>Total</th>
            <td>
              <p>{{day1.arpeggioTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day2.arpeggioTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day3.arpeggioTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day4.arpeggioTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day5.arpeggioTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day6.arpeggioTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
            <td>
              <p>{{day7.arpeggioTotal() | time:'mm':'hhh mmm':false}}</p>
            </td>
          </tr>
        </table>
        <table class="table table-bordered">
          <h3>Double Stops</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th>Thirds</th>
            <td><input type="number" ng-model="day1.positions.thirds"/></td>
            <td><input type="number" ng-model="day2.positions.thirds"/></td>
            <td><input type="number" ng-model="day3.positions.thirds"/></td>
            <td><input type="number" ng-model="day4.positions.thirds"/></td>
            <td><input type="number" ng-model="day5.positions.thirds"/></td>
            <td><input type="number" ng-model="day6.positions.thirds"/></td>
            <td><input type="number" ng-model="day7.positions.thirds"/></td>
          </tr>
        </tr>
        <tr>
          <th>Fourths</th>
          <td><input type="number" ng-model="day1.positions.fourths"/></td>
          <td><input type="number" ng-model="day2.positions.fourths"/></td>
          <td><input type="number" ng-model="day3.positions.fourths"/></td>
          <td><input type="number" ng-model="day4.positions.fourths"/></td>
          <td><input type="number" ng-model="day5.positions.fourths"/></td>
          <td><input type="number" ng-model="day6.positions.fourths"/></td>
          <td><input type="number" ng-model="day7.positions.fourths"/></td>
        </tr>
        <tr>
          <th>Fifths</th>
          <td><input type="number" ng-model="day1.positions.fifths"/></td>
          <td><input type="number" ng-model="day2.positions.fifths"/></td>
          <td><input type="number" ng-model="day3.positions.fifths"/></td>
          <td><input type="number" ng-model="day4.positions.fifths"/></td>
          <td><input type="number" ng-model="day5.positions.fifths"/></td>
          <td><input type="number" ng-model="day6.positions.fifths"/></td>
          <td><input type="number" ng-model="day7.positions.fifths"/></td>
        </tr>
        <tr>
          <th>Sixths</th>
          <td><input type="number" ng-model="day1.positions.sixths"/></td>
          <td><input type="number" ng-model="day2.positions.sixths"/></td>
          <td><input type="number" ng-model="day3.positions.sixths"/></td>
          <td><input type="number" ng-model="day4.positions.sixths"/></td>
          <td><input type="number" ng-model="day5.positions.sixths"/></td>
          <td><input type="number" ng-model="day6.positions.sixths"/></td>
          <td><input type="number" ng-model="day7.positions.sixths"/></td>
        </tr>
        <tr>
          <th>Octaves</th>
          <td><input type="number" ng-model="day1.positions.octaves"/></td>
          <td><input type="number" ng-model="day2.positions.octaves"/></td>
          <td><input type="number" ng-model="day3.positions.octaves"/></td>
          <td><input type="number" ng-model="day4.positions.octaves"/></td>
          <td><input type="number" ng-model="day5.positions.octaves"/></td>
          <td><input type="number" ng-model="day6.positions.octaves"/></td>
          <td><input type="number" ng-model="day7.positions.octaves"/></td>
        </tr>
        <tr>
          <th>Tenths</th>
          <td><input type="number" ng-model="day1.positions.tenths"/></td>
          <td><input type="number" ng-model="day2.positions.tenths"/></td>
          <td><input type="number" ng-model="day3.positions.tenths"/></td>
          <td><input type="number" ng-model="day4.positions.tenths"/></td>
          <td><input type="number" ng-model="day5.positions.tenths"/></td>
          <td><input type="number" ng-model="day6.positions.tenths"/></td>
          <td><input type="number" ng-model="day7.positions.tenths"/></td>
        </tr>
        <tr>
          <th>Harmonics</th>
          <td><input type="number" ng-model="day1.positions.harmonics"/></td>
          <td><input type="number" ng-model="day2.positions.harmonics"/></td>
          <td><input type="number" ng-model="day3.positions.harmonics"/></td>
          <td><input type="number" ng-model="day4.positions.harmonics"/></td>
          <td><input type="number" ng-model="day5.positions.harmonics"/></td>
          <td><input type="number" ng-model="day6.positions.harmonics"/></td>
          <td><input type="number" ng-model="day7.positions.harmonics"/></td>
        </tr>
        <tr>
          <th>Total</th>
          <td>
            <p>{{day1.dStopTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day2.dStopTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day3.dStopTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day4.dStopTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day5.dStopTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day6.dStopTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
          <td>
            <p>{{day7.dStopTotal() | time:'mm':'hhh mmm':false}}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
