<section>
  <div ui-view>
    <h1>Basics</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <h3>Scales</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th><input type="text" ng-model="scale1"/></th>
            <td><input type="value" ng-model="day1.scale1"/></td>
            <td><input type="value" ng-model="day2.scale1"/></td>
            <td><input type="value" ng-model="day3.scale1"/></td>
            <td><input type="value" ng-model="day4.scale1"/></td>
            <td><input type="value" ng-model="day5.scale1"/></td>
            <td><input type="value" ng-model="day6.scale1"/></td>
            <td><input type="value" ng-model="day7.scale1"/></td>
          </tr>
          <tr>
            <th><input type="text" ng-model="scale2"/></th>
            <td><input type="value" ng-model="day1.scale2"/></td>
            <td><input type="value" ng-model="day2.scale2"/></td>
            <td><input type="value" ng-model="day3.scale2"/></td>
            <td><input type="value" ng-model="day4.scale2"/></td>
            <td><input type="value" ng-model="day5.scale2"/></td>
            <td><input type="value" ng-model="day6.scale2"/></td>
            <td><input type="value" ng-model="day7.scale2"/></td>
          </tr>
          <tr>
            <th><input type="text" ng-model="scale3"/></th>
            <td><input type="value" ng-model="day1.scale3"/></td>
            <td><input type="value" ng-model="day2.scale3"/></td>
            <td><input type="value" ng-model="day3.scale3"/></td>
            <td><input type="value" ng-model="day4.scale3"/></td>
            <td><input type="value" ng-model="day5.scale3"/></td>
            <td><input type="value" ng-model="day6.scale3"/></td>
            <td><input type="value" ng-model="day7.scale3"/></td>
          </tr>
          <tr>
            <th>Total</th>
            <td>
              <p>{{scales.day1.total}}</p>
            </td>
            <td>
              <p>{{scales.day2.total}}</p>
            </td>
            <td>
              <p>{{scales.day3.total}}</p>
            </td>
            <td>
              <p>{{scales.day4.total}}</p>
            </td>
            <td>
              <p>{{scales.day5.total}}</p>
            </td>
            <td>
              <p>{{scales.day6.total}}</p>
            </td>
            <td>
              <p>{{scales.day7.total}}</p>
            </td>
          </tr>
        </table>
        <table class="table table-bordered">
          <h3>Arpeggios</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th><input type="text" ng-model="arpeggio1"/></th>
            <td><input type="value" ng-model="day1.arpeggio1"/></td>
            <td><input type="value" ng-model="day2.arpeggio1"/></td>
            <td><input type="value" ng-model="day3.arpeggio1"/></td>
            <td><input type="value" ng-model="day4.arpeggio1"/></td>
            <td><input type="value" ng-model="day5.arpeggio1"/></td>
            <td><input type="value" ng-model="day6.arpeggio1"/></td>
            <td><input type="value" ng-model="day7.arpeggio1"/></td>
          </tr>
          <tr>
            <th><input type="text" ng-model="arpeggio2"/></th>
            <td><input type="value" ng-model="day1.arpeggio2"/></td>
            <td><input type="value" ng-model="day2.arpeggio2"/></td>
            <td><input type="value" ng-model="day3.arpeggio2"/></td>
            <td><input type="value" ng-model="day4.arpeggio2"/></td>
            <td><input type="value" ng-model="day5.arpeggio2"/></td>
            <td><input type="value" ng-model="day6.arpeggio2"/></td>
            <td><input type="value" ng-model="day7.arpeggio2"/></td>
          </tr>
          <tr>
            <th><input type="text" ng-model="arpeggio3"/></th>
            <td><input type="value" ng-model="day1.arpeggio3"/></td>
            <td><input type="value" ng-model="day2.arpeggio3"/></td>
            <td><input type="value" ng-model="day3.arpeggio3"/></td>
            <td><input type="value" ng-model="day4.arpeggio3"/></td>
            <td><input type="value" ng-model="day5.arpeggio3"/></td>
            <td><input type="value" ng-model="day6.arpeggio3"/></td>
            <td><input type="value" ng-model="day7.arpeggio3"/></td>
          </tr>
          <tr>
            <th>Total</th>
            <td>
              <p>{{arpeggios.day1.total}}</p>
            </td>
            <td>
              <p>{{arpeggios.day2.total}}</p>
            </td>
            <td>
              <p>{{arpeggios.day3.total}}</p>
            </td>
            <td>
              <p>{{arpeggios.day4.total}}</p>
            </td>
            <td>
              <p>{{arpeggios.day5.total}}</p>
            </td>
            <td>
              <p>{{arpeggios.day6.total}}</p>
            </td>
            <td>
              <p>{{arpeggios.day7.total}}</p>
            </td>
          </tr>
        </table>
        <table class="table table-bordered">
          <h3>Double Stops</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th>Thirds</th>
            <td><input type="value" ng-model="day1.thirds"/></td>
            <td><input type="value" ng-model="day2.thirds"/></td>
            <td><input type="value" ng-model="day3.thirds"/></td>
            <td><input type="value" ng-model="day4.thirds"/></td>
            <td><input type="value" ng-model="day5.thirds"/></td>
            <td><input type="value" ng-model="day6.thirds"/></td>
            <td><input type="value" ng-model="day7.thirds"/></td>
          </tr>
        </tr>
        <tr>
          <th>Fourths</th>
          <td><input type="value" ng-model="day1.fourths"/></td>
          <td><input type="value" ng-model="day2.fourths"/></td>
          <td><input type="value" ng-model="day3.fourths"/></td>
          <td><input type="value" ng-model="day4.fourths"/></td>
          <td><input type="value" ng-model="day5.fourths"/></td>
          <td><input type="value" ng-model="day6.fourths"/></td>
          <td><input type="value" ng-model="day7.fourths"/></td>
        </tr>
        <tr>
          <th>Fifths</th>
          <td><input type="value" ng-model="day1.fifths"/></td>
          <td><input type="value" ng-model="day2.fifths"/></td>
          <td><input type="value" ng-model="day3.fifths"/></td>
          <td><input type="value" ng-model="day4.fifths"/></td>
          <td><input type="value" ng-model="day5.fifths"/></td>
          <td><input type="value" ng-model="day6.fifths"/></td>
          <td><input type="value" ng-model="day7.fifths"/></td>
        </tr>
        <tr>
          <th>Sixths</th>
          <td><input type="value" ng-model="day1.sixths"/></td>
          <td><input type="value" ng-model="day2.sixths"/></td>
          <td><input type="value" ng-model="day3.sixths"/></td>
          <td><input type="value" ng-model="day4.sixths"/></td>
          <td><input type="value" ng-model="day5.sixths"/></td>
          <td><input type="value" ng-model="day6.sixths"/></td>
          <td><input type="value" ng-model="day7.sixths"/></td>
        </tr>
        <tr>
          <th>Octaves</th>
          <td><input type="value" ng-model="day1.octaves"/></td>
          <td><input type="value" ng-model="day2.octaves"/></td>
          <td><input type="value" ng-model="day3.octaves"/></td>
          <td><input type="value" ng-model="day4.octaves"/></td>
          <td><input type="value" ng-model="day5.octaves"/></td>
          <td><input type="value" ng-model="day6.octaves"/></td>
          <td><input type="value" ng-model="day7.octaves"/></td>
        </tr>
        <tr>
          <th>Tenths</th>
          <td><input type="value" ng-model="day1.tenths"/></td>
          <td><input type="value" ng-model="day2.tenths"/></td>
          <td><input type="value" ng-model="day3.tenths"/></td>
          <td><input type="value" ng-model="day4.tenths"/></td>
          <td><input type="value" ng-model="day5.tenths"/></td>
          <td><input type="value" ng-model="day6.tenths"/></td>
          <td><input type="value" ng-model="day7.tenths"/></td>
        </tr>
        <tr>
          <th>Harmonics</th>
          <td><input type="value" ng-model="day1.harmonics"/></td>
          <td><input type="value" ng-model="day2.harmonics"/></td>
          <td><input type="value" ng-model="day3.harmonics"/></td>
          <td><input type="value" ng-model="day4.harmonics"/></td>
          <td><input type="value" ng-model="day5.harmonics"/></td>
          <td><input type="value" ng-model="day6.harmonics"/></td>
          <td><input type="value" ng-model="day7.harmonics"/></td>
        </tr>
        <tr>
          <th>Total</th>
          <td>
            <p>{{dstops.day1.total}}</p>
          </td>
          <td>
            <p>{{dstops.day2.total}}</p>
          </td>
          <td>
            <p>{{dstops.day3.total}}</p>
          </td>
          <td>
            <p>{{dstops.day4.total}}</p>
          </td>
          <td>
            <p>{{dstops.day5.total}}</p>
          </td>
          <td>
            <p>{{dstops.day6.total}}</p>
          </td>
          <td>
            <p>{{dstops.day7.total}}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
