<section>
  <div ui-view>
    <h1>Basics</h1>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <h3>Scales</h3>
          <tr>
            <th>Day</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <th><input type="text" ng-model="scale1"/></th>
            <td><input type="value" ng-model="day1.scale1"/></td>
            <td><input type="value" ng-model="day2.scale1"/></td>
            <td><input type="value" ng-model="day3.scale1"/></td>
            <td><input type="value" ng-model="day4.scale1"/></td>
            <td><input type="value" ng-model="day5.scale1"/></td>
            <td><input type="value" ng-model="day6.scale1"/></td>
            <td><input type="value" ng-model="day7.scale1"/></td>
          </tr>
    </table>
  </div>
</div>
</section>
