<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Practice Pal</a>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>Weekly Schedule</a>
      </li>
      <li>
        <a ui-sref="basics">
          <i class="fa fa-basics"></i>Basics</a>
      </li>
      <li>
        <a ui-sref="scales">
          <i class="fa fa-scales"></i>Scales</a>
      </li>
    </ul>

  </div>
</nav>
